%h3 
  Details for
  Protein: 
  %span.protein== #{@protein},
  Mutation:
  %span.mutation= @mutation

%nav.tabs
  %ul
    %li
      %a.active(target="#protein") Protein 
    %li
      %a(target="#domain") Pfam Domain
    %li
      %a(target="#residue") Residue

#protein
  %dl.protein
    %dt Protein Name
    %dd= @name

    %dt Protein Description
    %dd= @description

    %dt Summary
    %dd= @summary

    %dt Kinase Group
    %dd
      == #{@features["uniprot_group"]}: #{$kinase_groups[@features["uniprot_group"]]}
    
    %dt.inline Gene Ontology Log-Odds Ratio
    %dd
      == #{"%.2f" % @features["sumGOLOR"].to_f}

    %table#goterms
      %thead
        %tr
          %th GOTerm
          %th Sub-ontology
          %th Name
      %tbody
        - @goterms.sort_by{|k,v| k}.each do |term,name|
          -  onto, name = name.match(/\((.*)\) (.*)/).values_at 1, 2
          %tr
            %td= term
            %td= {"MF" => "Molecular Function", "CC" => "Cellular Component", "BP" => "Biological Process"}[onto]
            %td= name

#domain
  - if not @features["pfam"].empty?
    %dl.pfam
      - @features["pfam"].split("|").each do |domain|
        %dt
          = $pfam_names[domain][:description]
          (
          %a(href="http://pfam.sanger.ac.uk/family/#{domain}" target="_blank")= domain
          )
        %dd= $pfam_names[domain][:content]
  - else
    %h4 No Pfam Domain


#residue
  
  #residue_general
    %dl.residue
      %dt.specificity Specificity Determining Position
      %dd.specificity
        == WT: #{"%.2f" % @features["TDs_fscore_wt"].to_f} Mut: #{"%.2f" % @features["TDs_fscore_mt"].to_f} Diff: #{"%.2f" % @features["TDs_fscore_diff"].to_f}

      %dt.kdhc Kyte-Doolittle Hydrophobicity Change
      %dd.kdhc
        == #{"%.2f" % @features["biochem_diffkdhydrophobicity"].to_f}

      %dt.sift SIFT Prediction (Score)
      %dd.sift
        - case @features["SIFTscore_binned"]
        - when "-1"
          == Neutral (#{@features["SIFTscore"]}) 
        - when "1"
          == Disease (#{@features["SIFTscore"]}) 
        - when "0"
          == Not Predicted (#{@features["SIFTscore"]}) 

  #residue_functional
    %dl.functional
      - trans = Hash[*%w(firedb phosphoelm swannot_ptm swannot_disulfid swannot_carbohyd swannot_act_site swannot_signal swannot_catalytic swannot_site swannot_mod_res swannot_np_bind swannot_transmem swannot_mutagen swannot_metal swannot_binding).zip(%w(FireDB PhosphoELM PTM Disulfide_Bond Carbohyd Active_Site Signal_Peptide Catalytic_Site Site Modified_Residue Nucleotide_Binding Transmembrane Mutagenesis Metal_Binding Binding).collect{|v| v.gsub(/_/,' ')}).flatten]
      - %w(firedb phosphoelm swannot_ptm swannot_disulfid swannot_carbohyd swannot_act_site swannot_signal swannot_catalytic swannot_site swannot_mod_res swannot_np_bind swannot_transmem swannot_mutagen swannot_metal swannot_binding).each do |key|
        - name = trans[key]
        %dt= name
        %dd{:class => (@features[key] == "1" ? 'red' : '')}= @features[key] == "1" ? "Yes" : "No"

:javascript
  tabs($('nav.tabs'))
  $('#goterms').tablesorter({widgets: ['zebra']});
