= partial_render('layout/doctype')

%head
  = partial_render('layout/header')
  = link_css '/stylesheets/kinmut'
  %title KinMut2

%body.preload

  /{{{ CONTENT
  /-----------
  %body.ui.Grid
    - @reload_page = false
    %header.main.menu.ui.grid
      %span.nine.wide.column
        %a(href="/") 
          %img(alt="wKinMut" src="/images/KinMut2_logo.jpg" width='400px')
      -#%span.two.wide.column.right.help
      %span.help
        %a.ui.button(href="/help" target='_blank') Help

    //.main.container.ui.grid
    .ui.main.container#content
      = yield


  /{{{ MODAL
  /---------
  #modal.ui.modal

  /{{{ FOOTER
  /----------
  #footer
    =partial_render('layout/footer')

  /{{{ CODA
  /--------
  #coda
    = partial_render('layout/coda')

:javascript
  $('#load_example').click(function(){
    var button = $(this)
    button.addClass('loading');
    $.ajax({url: "/file/example.txt", complete: function(req){
      button.removeClass('loading')
      $('textarea#mutations').val(req.responseText)
      $('input[name=jobname]').val("Example")
    }})
  })


