
%h3.job_info 
  Job:
  %span#name== #{ @jobname }
  %a#download_results(href="/download/#{ @job }" target='_blank') [download KinMut predictions]
  %a#original_input(href="/original/#{ @job }" target='_blank') [original input]
  
  - if @filtered and @filtered.any?
    %a#filtered(href="/filtered/#{ @job }" target='_blank')== filtered proteins (#{@filtered.size})

%table#predictions.tablesorter
  %thead
    %tr
      %th Protein
      %th Description
      %th Mutation
      %th Kinase Group*
      %th Prediction
      %th Details
  %tbody
    - @res.sort_by{|mutation,value| @list.index mutation.sub('#','')}.each do |mutation,values|
      - mutation = mutation.sub('#', '')
      - prot, m = mutation.split(/_/)

      %tr
        %td
          - names = [@translations[prot], @translations_id[prot]] - [prot]
          = names * ", "
          %a(href="http://www.uniprot.org/uniprot/#{ prot }" target='_blank')= prot
        %td= Gene.setup(prot, "UniProt/SwissProt Accession", "Hsa").long_name
        - wt = Kinase.error_in_wt_aa?(prot, m)
        - if wt.nil? or wt
          %td.mutation
            - first, *rest = m.split('')
            = "<font color='red'>#{first}</font>#{rest}"
            - if wt.nil?
              %span.wt_error== position outside protein range
            - else
              %span.wt_error== (#{Kinase.error_in_wt_aa?(prot, m)})
            
        - else
          %td.mutation= m

        %td.group= @uniprot_groups[mutation]
        %td.prediction 
          - code = [prot, m] * ":"
          - uniprot_damage = $uniprot_variants.include?(code) #and $uniprot_variants[code]["Type of Variant"] == "Disease"
          - kinmut_damage = values[1].first.to_f >= -0.5  


          - case
          - when uniprot_damage
            %span.damaging Damaging (Uniprot)
          - when kinmut_damage
            %span.damaging Damaging (KinMut)
          - else
            %span.neutral Neutral 

        %td.details
          %a(href="/details/#{@job}/#{prot}/#{m}") View


%p.kinase_groups
  \* 
  %span(style='font-style:italic') Kinase Group:
  Classification of the human kinome according to
  %a(href='http://www.ncbi.nlm.nih.gov/pubmed/12471243' target='_blank') 
    Manning 
    %span(style='font-style:italic')et al.
    , 2002.
  %ul.kinase_groups
    - @uniprot_groups.values.uniq.sort.each do |group|
      %li
        %span(style='font-weight:bold')== #{group}: 
        = $kinase_groups[group]


:javascript
  $('#predictions').tablesorter({widgets: ['zebra']});
  //$('table#predictions > tbody > tr').mouseover(function(){$(this).addClass('highligted')})
  //$('table#predictions > tbody > tr').mouseout(function(){$(this).removeClass('highligted')})
